.decide-winner-container{
    .winner{
        font-size: 3rem;
        display: block;
        width: 20rem;
        padding: 1.5rem 0;
        margin: 1rem auto;
        background: $success-colour;
        color: #FFF;
    }
    .picks-container{
        display: flex;
        .pick {
            flex: 1;
            label{
                margin-right: 1rem;
                font-size: 2rem;
                font-weight: normal;
            }
            span{
                font-size: 2rem;
                font-weight: normal;
                @media (max-width: 39rem){
                    display: block;
                }
            }
        } 
        .area-label{
            margin-top: 1rem;
        }
    }
    .actions-container{
        button{
            margin: 1rem;
            padding: 1rem 1.5rem;
        }
    }
}