// ../base/_variables.scss 

.options-list{
    margin: 3em 0;

    .options-item{
        border: 1px solid $primary-colour;
        border-radius: 3rem;
        padding: 5rem 0;
        cursor: pointer;

        @media (max-width: 50rem){
            margin-top: 3rem;
            margin-bottom: 3rem;         
            font-size: 3rem;   
        }
    }
}


